html {
	font-family: "Helevetica", sans-serif;
  }
  
  body {
	color: #333;
	font-weight: 100;
	margin: 0 auto;
  }
.toolbar{
	margin-top: 50px;
}
  #editor {
	font-size: 24px;
	border: solid 1px #ccc;
	min-height: 200px;
  }

  .editor{
	  margin-left: 120px;
  }




  body {margin:0;
	background-color:white}
	
	
	.icon-bar {
	  width: 60px;
	  height: 650px;
	  padding: 0%;
	  margin-right: 20px;
	  float: left;
	  background-color: white;
	}
	.container{
	  padding: 0;
	  margin: 0;
	}
	.icon-bar a {
	  display: block;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: rgb(105, 103, 103);
	  font-size: 36px;
	}
	
	.icon-bar a:hover {
	 color: #000;
	}

	#publishBtn{
		margin-top: 30px;
		float: right;
	}
	

	#headlineForm{
		margin-top: 30px;
	}


	[contentEditable=true]:empty:not(:focus):before{
		content:attr(data-text)
	}